.carousel-container {
    overflow-x: hidden;

    .carousel {
        overflow-x: auto;
        
        .carousel-item {
            width: 100%;

            img {
                width: 100vw;
                height: auto;
                background-size: cover;
                transition: all 1s ease-in-out;
            }
        }
    }
}