body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hideScrollbar ::-webkit-scrollbar {
    display: none;
}

.fl-flex {
    display: flex;
}

.fl-justify-center {
    justify-content: center;
}